<nav class="nav-container">
    <!-- Logo -->
    <div class="logo-and-heading">
        <div class="logo">
            <img src="../../assets/saketa-logo.png" alt="Logo">
        </div>

        <div class="heading-and-slogan">
            <p class="heading blue-color font-open-sans">Employee Directory</p>
            <p class="slogan font-open-sans">The Ultimate People Directory Experience</p>
        </div>
    </div>

    <div class="user-and-logo">
        <div class="welcome-message font-open-sans">
            <p class="welcome-user blue-color">Welcome,&nbsp;</p>
            <p> Andrew Philips</p>
        </div>
        <div class="user-image"><img src="../../assets/user-photo.png" alt="user_image"></div>
    </div>
</nav>