.content {
    margin: 0px;
    padding-top: 5px;
    width: 600px;
}

.action {
    padding: 0px 25px 10px;
    
    button {
        flex: 1;
    }
}

h2 {
    align-items: center;
}